# Please feel free to modify this file as per
# * Receivers: https://opencensus.io/agent/receivers/
# * Exporters: https://opencensus.io/agent/exporters/

exporters:
    zipkin:
        service_name: "oragent"
        endpoint: "http://oragent_zipkin_1:9411/api/v2/spans"
        local_endpoint: "localhost:5544"
        upload_period: 5s

    prometheus:
        namespace: "oragent"
        address: ":8844"

receivers:
    opencensus:
        endpoint: "localhost:55678"

    uds:
        disable_tracing: false

zpages:
    port: 55679
